.botao {
        background-color: #4c006d;
        border-radius: 10px;
        font-weight: 700;
        font-size: 16px;
        padding: 16px;
        border: 2px solid #000;
        cursor: pointer;
        color: #fff;
        margin: 32px 0;
}

.botao:hover {
    color: #8a53e2;
}